# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/doc
/src
/public


# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
